@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/css/404.css">
<!------ Include the above in your HEAD tag ---------->

<div class="hero-wrap js-fullheight" style="background-image: url('../../images/bg_3.png'); ">
    <div class="overlay"></div>
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <center><div class="man-icon" style="text-align: center"></div></center>
        <h3 style="text-align: center" class="title">404</h3>
        <p style="text-align: center" class="info">Oh! Page not found</p>
        <br />
        <br />
        <br />
        <br />
    </div>
</div>



