@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Admin</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/datepicker3.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    @section Scripts{
        <script>
            if ("serviceWorker" in navigator) {
                if (navigator.serviceWorker.controller) {
                    console.log("[PWA Builder] active service worker found, no need to register");
                } else {
                    // Register the service worker
                    navigator.serviceWorker
                        .register("pwabuilder-sw.js", {
                            scope: "~/"
                        })
                        .then(function (reg) {
                            console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
                        });
                }
            }

        </script>
    }
    @RenderSection("Scripts", required: false)
</head>
<body>
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin/home"><span>DREAM</span>Airticket</a>
                    <ul class="nav navbar-top-links navbar-right">
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <em class="fa fa-bell"></em><span class="label label-info">5</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-envelope"></em> 1 New Message
                                            <span class="pull-right text-muted small">3 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-heart"></em> 12 New Likes
                                            <span class="pull-right text-muted small">4 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <em class="fa fa-user"></em> 5 New Followers
                                            <span class="pull-right text-muted small">4 mins ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">Username</div>
                    <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="divider"></div>
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav menu">
                @*<li><a asp-area="Admin" asp-controller="Import" asp-action="Index">Import</a></li>*@
                <li><a asp-area="Admin" asp-controller="LichChuyenBays" asp-action="Index">Flight Schedules</a></li>
                <li><a asp-area="Admin" asp-controller="SanBays" asp-action="Index">Airport</a></li>
                <li><a asp-area="Admin" asp-controller="PhieuDatVes" asp-action="Index">Booking Ticket List</a></li>
                <li><a asp-area="Admin" asp-controller="PhieuDatChoes" asp-action="Index">Booking Reservation List</a></li>
                <li><a asp-area="Admin" asp-controller="HangVes" asp-action="Index">Ticket Class</a></li>
                <li><a asp-area="Admin" asp-controller="Thamsoes" asp-action="Index">Parameter</a></li>
                <li><a asp-area="Admin" asp-controller="ChiTietTrungGians" asp-action="Index">Transit Flight</a></li>
                <li><a asp-area="Admin" asp-controller="Home" asp-action="LogIn"><em class="fa fa-power-off">&nbsp;</em> Log out</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <div class="row">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <em class="fa fa-home"></em>
                        </a>
                    </li>
                    <li class="active">Dashboard</li>
                </ol>
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div><!--/.row-->

            <div class="panel panel-container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-teal panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-shopping-cart color-blue"></em>
                                <div class="large">120</div>
                                <div class="text-muted">Visitors</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-blue panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-comments color-orange"></em>
                                <div class="large">52</div>
                                <div class="text-muted">Comments</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-orange panel-widget border-right">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-users color-teal"></em>
                                <div class="large">24</div>
                                <div class="text-muted">New Users</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                        <div class="panel panel-red panel-widget ">
                            <div class="row no-padding">
                                <em class="fa fa-xl fa-search color-red"></em>
                                <div class="large">25.2k</div>
                                <div class="text-muted">Page Views</div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            @RenderBody()
            <!--/.row-->
        </div>	<!--/.main-->

        <script src="~/js/jquery-1.11.1.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="js/chart.min.js"></script>
        <script src="~/js/chart-data.js"></script>
        <script src="~/js/easypiechart.js"></script>
        <script src="~/js/easypiechart-data.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <script src="~/js/custom.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="~/js/nav.js"></script>
        @RenderSection("css", required: false)

    </body>
</html>

